body{
    margin: 0 10px;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: #333;
}
/*
header
*/
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 2;
    left: 0;
    right: 0;
    padding: 0 10px;
}
nav{
    position: fixed;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 4;
    transition: all 0.5s;
    opacity: 0;
}
.open nav{
    left: 0;
    opacity: 1;
    top: 0;
    background-color: black;
}
nav a {
    color: white;
}
nav li{
    padding: 20px 10px;
    list-style: none;
}
.hamburger{
    width: 30px;
    height: 30px;
    z-index: 4;
    position: relative;
    cursor: pointer;
}
.hamburger span{
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
}
.hamburger span:nth-child(1){
    top: 10px;
}
.hamburger span:nth-child(2){
    bottom: 10px;
}
.open span{
    background-color: white;
}
.open span:nth-child(1){
    transform:translateY(4px) rotate(45deg);
}
.open span:nth-child(2){
    transform:translateY(-4px) rotate(-45deg);
}
/*
main
*/
main{
    padding-top: 80px;
}
main h2{
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
}
.furniture-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    list-style: none;
    gap: 41px 34px;
}
.ViewMore{
    display: block;
    text-align: center;
    margin: 40px 0 121px 0;
}
.page{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 20px 0;
}
.page li{
    padding: 0 20px;
}
.about{
    display: block;
}
.about p{
    padding: 20px 0;
}
dl{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
dt{
    width: 30%;
}
.company dt{
    border-bottom: 1px solid #333;
    padding: 20px 10px;
}
dd{
    width: 70%;
}
.company dd{
    border-bottom: 1px solid #333;
    padding: 20px 10px;
}
.products{
    display: flex;
    justify-content: space-between;
}
.products img{
    width: 50%;
    margin-bottom: 15px;
}
.products figcaption{
    width: 45%;
}
figcaption p{
    padding: 0 0 20px 0;
}
figcaption dt,
figcaption dd{
    padding: 5px 0;
}
.back{
    display: block;
    text-align: center;
    padding: 20px 0;
}
@media screen and (max-width:680px) {
    .furniture-list{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 40px 19px;
    }
    .ViewMore{
        margin: 59px 0 102px 0;
    }
    .company{
        flex-direction: column;
    }
    .company dt{
        border-bottom: none;
        padding: 20px 10px 5px;
    }
    .company dd{
        width: 100%;
        padding:  10px 15px;
    }
    .products{
        display: block;
    }
    .products img,
    .products figcaption{
        width: 100%;
    }
    .price{
        text-align: right;
    }
}
/*
footer
*/
footer{
    display: flex;
    justify-content: space-between;
    height: 39px;
    width: 100%;
    margin-top: 20px;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    width: 259px;
    list-style: none;
    font-size: 12px;
}
.copy{
    font-size: 10px;
    align-content: flex-end;
    padding: 0 10px 5px 0;
}
@media screen and (max-width:680px) {
    footer{
        flex-direction: column;
    }
}